/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************* STYLESHEET *******************************/

body {
  background: #f1f1f1;
}
h1 {
  font-weight: bold;
  width: 90%;
}

/* HEADER */

nav {
  display: grid;
  grid-template-columns: 105px 1fr 45px;
  height: 50px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
}

.logo {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to bottom right, #db1475, #ff4422);
}

.logo img {
  width: 60%;
}

.header-list {
  margin-left: 10px;
}

.header-list li {
  display: inline;
  margin: 0 7px;
  font-family: 'Teko', sans-serif;
  font-size: 1.35em;
  letter-spacing: 1px;
}

.header-list a {
  text-decoration: none;
  color: #aaa;
}

.header-list a:hover {
  color: black;
}

.search {
  width: 50px;
  height: 50px;
  border-left: 1px solid rgba(170, 170, 170, 0.2);
}

.search a {
  height: 100%;
  display: grid;
}

.search img{
  justify-self: center;
  align-self: center;
  width: 35%;
  transform: scaleX(-1);
}

/* MAIN CONTENT */

.featured-articles {
  margin-top: 50px;
  width: 100%;
  height: 65vh;/* full screen it gets smaller */
  display: grid;
  grid-template: 50% 50% / 66% 1fr;
  grid-gap: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .5px;
}

.feat-art {
  overflow: hidden;
}

.feat-art > * {
  margin-left: 15px;
}

.feat-art .author {
  align-self: end;
  margin-bottom: 2%;
  opacity: 0.7;
  font-size: .75em;
}
/* MAIN ARTICLE */

.main-article {
  grid-row: 1 / -1;
  height: 100%;
  width: 99%;
  background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0 , 0, 0.5)), 
              url(media/astro.jpeg);
  background-size: cover;
  display: grid;
  margin: 10px 0 0 10px;
}

.main-article img {
  width: 40%;
  margin-top: -50px;
}

.main-article .date {
  grid-row: 1 / 2;
  justify-self: end;
  align-self: start;
  margin-right: 25px;
}

.main-article h1 {
  font-size: 3em;
}
/* TOP ARTICLE */

.top-article {
  height: 100%;
  width: 99%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0 , 0, 0.8)), 
              url(media/phone.jpeg);
  background-size: cover;
  display: grid;
  margin-top: 10px;
  align-content: end;
}

.top-article h5 {
  margin-bottom: 10px;
}

.top-article h1 {
  font-size: 1.75em;
  margin-bottom: 10px;
}
/* LOWER ARTICLE */

.lower-article {
  height: 100%;
  width: 99%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0 , 0, 0.8)), 
              url(media/kid-comp.jpeg);
  background-size: cover;
  display: grid;
  margin-top: 10px;
  align-content: end;
}

.lower-article h5 {
  margin-bottom: 10px;
}

.lower-article h1 {
  font-size: 1.75em;
  margin-bottom: 10px;
}
