/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************* STYLESHEET *******************************/

h1 {
  font-weight: bold;
  width: 90%;
}

/* HEADER */

nav {
  display: grid;
  grid-template-columns: 105px 1fr 45px;
  height: 50px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  box-shadow: 0 10px 25px #eeeeee;
  z-index: 100;
}

.logo {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to bottom right, #db1475, #ff4422);
}

.logo img {
  width: 60%;
}

.header-list {
  margin-left: 10px;
}

.header-list li {
  display: inline;
  margin: 0 7px;
  font-family: 'Teko', sans-serif;
  font-size: 1.35em;
  letter-spacing: 1px;
}

.header-list a {
  text-decoration: none;
  color: #aaa;
}

.header-list a:hover {
  color: black;
}

.search {
  width: 50px;
  height: 50px;
  border-left: 1px solid rgba(170, 170, 170, 0.2);
}

.search a {
  height: 100%;
  display: grid;
}

.search img{
  justify-self: center;
  align-self: center;
  width: 35%;
  transform: scaleX(-1);
}

/* MAIN CONTENT */

main {
  margin-top: 60px;
  display: grid;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.featured-articles {
  width: 100%;
  height: 65vh;/* full screen it gets smaller */
  display: grid;
  grid-template: 50% 50% / 66% 1fr;
  grid-gap: 10px;
  color: white;
  letter-spacing: .5px;
}

.feat-art {
  overflow: hidden;
}

.feat-art > * {
  margin-left: 15px;
}

.feat-art .author {
  align-self: end;
  margin-bottom: 2%;
  opacity: 0.7;
  font-size: .75em;
}
/* MAIN ARTICLE */

.main-article {
  grid-row: 1 / -1;
  height: 100%;
  width: 99%;
  background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0 , 0, 0.5)), 
              url(media/astro.jpeg);
  background-size: cover;
  display: grid;
  margin-left: 10px;
}

.main-article img {
  width: 40%;
  margin-top: -50px;
}

.main-article .date {
  grid-row: 1 / 2;
  justify-self: end;
  align-self: start;
  margin-right: 25px;
}

.main-article h1 {
  font-size: 3em;
}
/* TOP ARTICLE */

.top-article {
  height: 100%;
  width: 99%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0 , 0, 0.8)), 
              url(media/phone.jpeg);
  background-size: cover;
  display: grid;
  align-content: end;
}

.top-article h5 {
  margin-bottom: 10px;
}

.top-article h1 {
  font-size: 1.75em;
  margin-bottom: 10px;
}
/* LOWER ARTICLE */

.lower-article {
  height: 100%;
  width: 99%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0 , 0, 0.8)), 
              url(media/kid-comp.jpeg);
  background-size: cover;
  display: grid;
  align-content: end;
}

.lower-article h5 {
  margin-bottom: 10px;
}

.lower-article h1 {
  font-size: 1.75em;
  margin-bottom: 10px;
}
/* HERO SECTION */

.container {
  width: 1150px;/* Maybe measure in px until first breakpoint, then % ....73% fullscreen*/
}

.container h2 {
  grid-column: 1 / -1;
  align-self: end;
  color: #ff4422;
  font-weight: bold;
  font-size: 1.75em;
}
/* LATEST NEWS */

.latest-news {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 140px repeat(2, 1fr);
}

.latest-article img {
  width: 100%;
  height: 145px;
}

.latest-article h4 {
  font-weight: bold;
}

.latest-article p {
  font-size: .75em;
  opacity: 0.5;
  margin-top: 10px;
}
/* FUNDING */

.funding {
  display: grid;
  position: relative;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 140px 1fr;
}

.funding h2 {
  grid-column: 1 / 3;
}

.funding .links {
  grid-column: 3 / -1;
  align-self: end;
  justify-self: end;
}

.fund-link {
  color: #ff4422;
  text-decoration: none;
}

.funding .company {
  width: 100%;
  height: 275px;
  background: linear-gradient(
    #ff4422, 
    #ff4422 15%,
    #ffebe7 15%,
    #ffebe7 35%,
    #fffaf8 35%,
    #fffaf8 100%);
    display: grid;
    grid-template-rows: 15% 20% 1fr 1fr;
    grid-template-columns: 80px 1fr;
}

.company-image {
  width: 60px;
  margin: 10px 0 0 10px;
  grid-row: 1 / 2;
}

.funding .company-name {
  color: white;
  font-weight: bold;
  grid-row: 1 / 2;
  align-self: center;
}

.funding .amount {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  align-self: center;
}

.funding .amount-given {
  color: black;
  font-weight: bold;  
}

.funding .amount-type {
  font-size: .75em;
  opacity: 0.5;
}

.funding .details {
  grid-column: 1 / -1;
  font-size: .8em;
}

.funding .details1 {
  align-self: start;
  width: 100%;
  border-bottom: 1px solid #ff4422;
  line-height: 1.5em;
  margin: 15px 0 15px 0;
  padding-bottom: 10px;
}

.details1 p {
  width: 80%;
  margin-left: 30px;
}

.funding .details2 {
  width: 80%;
  margin: 10px 0 0 10px;
}

.details2 span {
  line-height: 1.25em;
}

.details2 .fade {
  opacity: 0.6;
}
/* funding boxes are inflexable because the container's size is fixed */

